@page "/"

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <br />
    <p>Denna webbplats består av ramverket ASP.NET Core och tre stycken olika Blazor-sidor.</p>
    <p>Webbplatsen handlar om världens duktigaste och finaste programmerare apan Bonzi.</p>
    <p>Förutom att programmera älskar Bonzi att surfa, skejta, klättra i träd samt springa parkour.</p>
    <p>Bonzi älskar bananer och därför är mycket billig i drift, eftersom hans lön är tio bananer per dag.</p>
    <p>Bonzis biologiska pappa är Bill Gates, eftersom det är hans företag som har skapat apan Bonzi.</p>
    <p>Du kan ladda ned Bonzi och hans kompisar gratis som ett färdigt JavaScript-bibliotek.</p>
    <br />
</div>
<br/>
<SurveyPrompt Title="Vad är Blazor?" />
<br />
<br />