div {
    min-height: 135px;
    display: block;
    width: 100%;
    border: 1px solid #fff;
}

    div.noneborder {
        min-height: 130px;
        display: inherit;
        border: none;
        max-width: 300px;
        border: 1px solid #fff;
        background-color: antiquewhite;
    }

.wrapper {
    margin-top: 0;
    display: flex;
    box-sizing: border-box;
    padding: 32px 16px;
}

    .wrapper > div {
        box-sizing: border-box;
        width: calc(100% - 32px);
        float: left;
        margin: 0 16px;
    }

#logotypediv {
    background-color: antiquewhite;
}

#imageid {
    margin-top: 5px;
    margin-left: 100px;
}

#timediv {
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    background-color: #fff1f3;
    padding: 10px;
    border: 1px solid #000000;
}

div.container {
    min-height: 30px;
}

#maincontainer {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.footer {
    position: relative;
    bottom: 0;
    margin-top: 60px;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: antiquewhite;
}

#footer {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff1f3;
    max-width: 40%;
    border: 1px solid #000000;
    padding: 10px 40px;
}

#courses {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#mail {
    color: blue;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-color: blue;
}

td.email {
    color: blue;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-color: blue;
}

.pinksection {
    margin: 20px 50px;
    background-color: #fff1f3;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 35px;
}
